{
  "UiTestMode": false,
  "RelayPublicBaseUrl": "https://yummi.duckdns.org",
  "LockfilePath": "C:\\Riot Games\\League of Legends\\lockfile",
  "AuthPollIntervalMs": 1500,
  "PreventQueueAfterDodge": true,
  "ApplyDefaultStatusOnConnect": true,
  "UpdateManifestUrl": "https://yummi.duckdns.org/agent/version.json",
  "CheckUpdatesOnStartup": true,
  "AutoUpdateEnabled": true
}
